@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
	--theme: rgb(29, 30, 32);
	--secondary: rgb(155, 156, 157);
	--tertiary: rgb(65, 66, 68);
}

/* Scroll Bar */
/* from reset */
::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border: 5px solid var(--theme);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Custom avatar */

.hover\:animate-spin:hover {
  animation: spin 1s linear infinite;
}

.avatar {
  background-color: hsl(var(--primary-foreground));
  border-radius: 100%;
  box-shadow: 0px 0px 27px 10px hsl(var(--accent));
}

@font-face {
  font-family: 'JalnanOTF00';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

.name {
  font-family: 'JalnanOTF00', sans-serif;
}

/* Testing */

.ahit {
  font-size: 9vmin;
  color: #8bf;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "i"; }
  2.2791%, 25.0698% { content: "im"; }
  3.4186%, 23.9302% { content: "imn"; }
  4.5581%, 22.7907% { content: "imny"; }
  5.6977%, 21.6512% { content: "imnya"; }
  6.8372%, 20.5116% { content: "imnyan"; }
  7.9767%, 19.3721% { content: "imnyang"; }

  45.6279%, 69.8605% { content: ""; }
  46.7674%, 68.7209% { content: "ㅇ"; }
  47.7674%, 67.7209% { content: "아"; }
  48.7674%, 66.7209% { content: "아ㅇ"; }
  49.7674%, 65.7209% { content: "아이"; }
  50.9070%, 64.5814% { content: "아임"; }
  52.0465%, 63.4419% { content: "아임ㄴ"; }
  53.1860%, 62.3023% { content: "아임냐"; }
  54.3256%, 61.1628% { content: "아임냥"; }

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "아임냥"; }
    25% { content: "imnyang"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/**/
